<div class="container-fluid">
	<h1 class = "text-center">Bacterial stocks</h1>

	<% @bacterial_stocks.uniq.pluck(:species).each do |bac| %>
	  <span class = "button_array"><%= button_to "#{bac}", {:controller => 'bacterial_fronts',
	  :action => 'filter_species', :species => bac}, {:method => :post} %></span>
	<%end%>
	<span class = "button_array button_special"><%=button_to "All bacterial stocks", bacterial_stocks_url, {:method => :get} %></span>
	<span class = "button_array button_special"><%=button_to "Competent cells", {:controller => 'competent_cells',
		:action => "index"}, {:method => :get} %></span>
</div>