// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login_field {
	width: 100%;
	text-align: center;
	margin: auto;

}
#login_label {
	width: 100%;
	text-align: center;
}
#login_container {
	width: 35%;
}
#login_field.form_field > input {
	width: 80%;
	margin: auto;
}